@import '../../variables.scss';
@import '../../mixins.scss';

.form_input {
  
}

.button_calculate {
  display: flex;
  align-items: center;
  padding: pxToRem(10px) pxToRem(20px);

  outline: none;
  border: none;
  border-radius: $border_radius;

  background-color: $primary_color;

  transition: all 200ms;

  &>span {
    margin-left: pxToRem(20px);

    font-size: pxToRem(16px);
    font-weight: 500;
    color: $black_color;
  }

  &:hover {
    background-color: $primary_dark_color;
  }

  &:active {
    background-color: $primary_dark_color;
  }
}
